@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: #050505;
  color: white;
}

::selection {
  background: white;
  color: black;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

.gradient-text {
  background: linear-gradient(
    90deg,
    #ffffff,
    #a3a3a3,
    #ffffff
  );
  background-size: 200%;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 5s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 200%;
  }
}

.glow {
  box-shadow:
    0 0 40px rgba(255,255,255,0.04),
    inset 0 0 30px rgba(255,255,255,0.02);
}